.wrapper {
  width: 1200px;
  margin: 0 auto;
}
/*统一按钮样式*/
body {
  color: #777777;
}
#wrapper {
  width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
}
.left-nav {
  width: 238px;
  float: left;
}
.btn-publish {
  background-color: #00cca3;
  height: 40px;
}
.btn-publish .icon {
  float: left;
  background: url("/static/images/sprite_server/sprite_hr.png") no-repeat -2px -1px;
  height: 15px;
  width: 15px;
  margin: 12.5px;
}
.btn-publish a {
  color: #fff;
  float: left;
  height: 40px;
  line-height: 40px;
  width: 198px;
}
.btn-publish:hover {
  background: #00e5b7;
}
.nav-list {
  width: 100%;
  height: auto;
}
.nav-title {
  height: 50px;
  line-height: 50px;
  color: #777777;
  font-size: 16px;
  border-bottom: 2px solid #ebebeb;
}
.nav-title span {
  display: block;
  width: 100px;
  padding-left: 10px;
  border-bottom: 2px solid #00cca3;
}
.nav-item a {
  display: block;
  padding: 20px 24px 0;
  font-size: 14px;
  color: #777777;
}
.nav-item a:hover {
  color: #00cca3;
}
.nav-item-current a {
  color: #00cca3;
}
.content {
  width: 922px;
  margin-left: 40px;
  float: left;
}
.publish-header {
  width: 919px;
  border-left: 3px solid #00cca3;
  height: 28px;
  line-height: 28px;
  overflow: hidden;
}
.publish-header h1 {
  width: 110px;
  margin-left: 16px ;
  color: #777777;
  font-size: 20px ;
  float: left;
}
